<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pagetitle }}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app')|raw }}
        <link rel="stylesheet" href="{{ asset('../assets/styles/input.css') }}">
        <link rel="stylesheet" href="{{ asset('../assets/styles/output.css') }}">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app')|raw }}
        {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
    {% endblock %}
    {% block components %}{% endblock %}
    <script type="module">
        import {Navbaruserpanel} from "/js/components/navbaruserpanel.js";
        import {loadComponent} from "/js/reactive.js";

        loadComponent("navbaruserpanel", Navbaruserpanel)
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{ asset('assets/styles/navstyle.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/trellostyle.css') }}">
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" type="image/x-icon">
</head>
<body class="w-full flex justify-start items-start flex-col duration-300 max-h-screen overflow-y-hidden">

<header class="w-full shadow flex flex-row justify-between backdrop-blur-md h-12 bg-white z-50 mb-10">
    <a href="{{ path('app_accueil') }}" class="my-auto ml-5 drop-shadow-sm font-extrabold text-xl whitespace-nowrap">CYKARD</a>
    <nav class="flex flex-row justify-end my-auto">
        <ul>
            {% if not is_user_logged_in() %}
                <li>
                    <a href="{{ path('app_accueil') }}">Accueil</a>
                </li>
                <li>
                    <a class="flex flex-row gap-2 items-center justify-center" href="{{ path('app_login') }}">
                        Connexion
                    </a>
                </li>
                <li>
                    <a class="flex flex-row gap-2 items-center justify-center" href="{{ path('app_register') }}">
                        Inscription
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_tableaux') }}">Mes tableaux</a>
                </li>
                <li class="mr-5">
                    <react-navbaruserpanel showmenu=false logout-url="{{ path('app_logout') }}"
                                           account-url="{{ path('app_account') }}"
                                           current-user="{{ app.user }}"></react-navbaruserpanel>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>

<div>
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

<main class="z-0 mx-auto w-full px-10">
    {% block body %}{% endblock %}
</main>
<div id="notificationContainer" class="fixed bottom-0 right-0 z-[1500] w-[200px]"></div>

<footer class="w-full  border shadow flex flex-row justify-center">
    <h1>
        Copyright @2024 CYKARD Company
    </h1>
</footer>
</body>
</html>
