{# templates/tableau/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Edit Tableau{% endblock %}

{% block body %}
    <h1>Edit Tableau</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_tableaux') }}">back to list</a>

    <a href="" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
{% endblock %}