{% extends 'base.html.twig' %}

{% block title %}List of Tableaux{% endblock %}

{% block body %}
    <div class="w-1/2 mx-auto">
        <div class="flex flex-row justify-between mb-3">
            <h1>Mes tableaux ({{ tableaux|length }})</h1>
            <a href="{{ path('app_tableau_new') }}"><i class="fas fa-plus icon mt-1 mr-1"></i></a>
        </div>
        <div class="tableaux grid grid-cols-4 gap-4">
            {% for tableau in tableaux %}
                <div class="flex flex-col shadow overflow-hidden rounded-md border w-1/6 p-3 justify-around items-center">
                    <a
                            href="{{ path('app_tableau_show', {'id': tableau.id}) }}">
                        <div>
                            <h2 class="mr-auto ml-1">{{ tableau.titretableau }}</h2>
                        </div>
                        <div>
                            <a href="{{ path('app_tableau_edit', {'id': tableau.id}) }}">
                                Modifier
                            </a>
                        </div>
                        <div>
                            <a href="{{ path('app_tableau_delete', {'id': tableau.id}) }}"
                               class="danger transition px-3 py-1 rounded-md"
                               onclick="return confirm('Are you sure you want to delete this item?');">Supprimer</a>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}