{% extends 'base.html.twig' %}

{% block title %}List of Tableaux{% endblock %}

{% block body %}
    <h3>Mes tableaux ({{ tableaux|length }})</h3>
    <div class="tableaux">
        {% for tableau in tableaux %}
            <div class="flex flex-row w-full justify-around items-center">
                <div>
                    <h2><a href="{{ path('app_tableau_show', {'id': tableau.id}) }}">{{ tableau.titretableau }}</a></h2>

                </div>
                <div>
                    <a href="{{ path('app_tableau_edit', {'id': tableau.id}) }}">
                        Modifier
                    </a>
                </div>
                <div>
                    <a href="{{ path('app_tableau_delete', {'id': tableau.id}) }}"
                       onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <a href="{{ path('app_tableau_new') }}">Ajouter un tableau</a>
    </div>
{% endblock %}