<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pagetitle }}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    {% block components %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/styles/navstyle.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/trellostyle.css') }}">
</head>
<body class="overflow-x-hidden">

<!-- Messages Flash -->
{% if app.flashes %}
    <div class="alert alert-success">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

<header class="w-full shadow flex flex-row justify-between backdrop-blur-md h-12">
    <a href="{{ path('app_accueil') }}" class="my-auto ml-5 drop-shadow-sm font-extrabold text-xl whitespace-nowrap">BLYAT-CARD</a>
    <nav class="flex flex-row justify-end my-auto">
        <ul>
            <li>
                <a href="{{ path('app_accueil') }}">Accueil</a>
            </li>
            {% if not is_user_logged_in() %}
                <li>
                    <a class="flex flex-row gap-2 items-center justify-center" href="{{ path('app_login') }}">
                        Connexion
                    </a>
                </li>
                <li>
                    <a class="flex flex-row gap-2 items-center justify-center" href="{{ path('app_register') }}">
                        Inscription
                    </a>
                </li>
            {% else %}
                {% if is_user_logged_in() %}
                    <li>
                        <a href="{{ path('app_tableaux') }}">Mes tableaux</a>
                    </li>
                    <li>
                        <a href="{{ path('app_account') }}">
                            <i class="fas fa-user mt-1 mr-1"></i>
                            Mon compte (<span>{{ app_user.currentUser }}</span>)
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}" class="danger">
                            Déconnexion
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
</header>

<div>
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

<main class="mt-10">
    {% block body %}{% endblock %}

    <div id="notificationContainer" class="fixed bottom-0 right-0 z-20 w-[200px]"></div>
</main>

<footer class="w-full p-5 border shadow flex flex-row justify-center">
    <h1>
        Copyright @2024 BLYAT-CARD Company
    </h1>
</footer>
</body>
</html>
