<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pagetitle }}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/styles/navstyle.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/trellostyle.css') }}">
</head>
<body>
<header class="w-full flex flex-row justify-between border-b-[1px] border-neutral-100 backdrop-blur-md">
    <div class="my-auto ml-5 drop-shadow-sm font-extrabold">LOGO</div>
    <nav class="flex flex-row justify-end">
        <ul>
            <li>
                <a href="{{ path('app_accueil') }}">Accueil</a>
            </li>
            {% if not is_user_logged_in() %}
                <li>
                    <a class="flex flex-row gap-2 items-center justify-center" href="{{ path('app_login') }}">
                        Connexion
                    </a>
                </li>
                <li>
                    <a class="flex flex-row gap-2 items-center justify-center" href="{{ path('app_register') }}">
                        Inscription
                    </a>
                </li>
            {% else %}
                {% if is_user_logged_in() %}
                    <li>
                        <a href="{{ path('app_tableaux') }}">Mes tableaux</a>
                    </li>
                    <li>
                        <a href="{{ path('app_account') }}">
                            Mon compte (<span>{{ app_user.currentUser }}</span>)
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}">
                            Déconnexion
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
</header>

<div>
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

<main class="mt-10">
    {% block body %}{% endblock %}
</main>

<footer>
    <p>
        Copyright Trello-Trollé Company
    </p>
</footer>
</body>
</html>
